version: "3.9"

services:
  tes:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: tes-${APP_ENV}
    command: >
      sh -c "
        rm -rf node_modules package-lock.json .next &&
        echo running npm install && npm install &&
        npm install -g db-migrate && db-migrate up &&
        echo running npm run build && npm run build &&
        npm run start
      "
    env_file:
      - .env
    ports:
      - "${DOCKER_PORT}:3000"
    volumes:
      - .:/app
    networks:
      - tes-network

networks:
  tes-network:
    driver: bridge
